/* reset  */
*, body, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Template */
.btn {
    padding: 20px 10px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* Template */
.btn a{
    color: black;
    font-weight: 900;    
    text-decoration: none;
}



/* BODY */
body {

 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* HEADER */
header {
    padding-top: 2%;

}


header nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 20px;
}
header nav ul a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 700;
   transition: all .5s;
}

header nav ul a:hover{
    color: rgb(105, 105, 105);
    text-shadow: none;
}
/* MAIN */
main {
    width: 80%;
    margin: 5% auto;
    /* Gestion de la grid homepage */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "rx rxi"
                         "vri vr"
                         "ra rai"
                         "rmi rm"
                         "art arti"
                         "te tei"
                         "pri pr"
                         "eq eqi";

}

/* container toutes les réalités */
main .container__rx {
    grid-area: rx;
    border-top-left-radius: 90px;
    
}
main .container__rxi {
    grid-area: rxi;
    

}

main .container__rxi img{
    width: 100%;
}



/* container réalité virtuelle */
main .container__vr {
    grid-area: vr;

}
main .container__vri {
    grid-area: vri;
    background-image:  url('./assets/images-resize/vr.jpg') ;
    background-color: rgba(255, 255, 255, 0.74);


}

main .container__vri img{
    width: 100%;
   
}

/* container réalité augmentée */
main .container__ra {
    grid-area: ra;

}
main .container__rai {
    grid-area: rai;
    background: content-box  url('./assets/images-resize/ra.jpg') ;


}

/* container réalité mixte */
main .container__rm {
    grid-area: rm;

}
main .container__rmi {
    grid-area: rmi;
    background: content-box  url('./assets/images-resize/rx.jpg') ;


}

/* container technique */
main .container__te {
    grid-area: te;

}
main .container__tei {
    grid-area: tei;

}


/* container projet */
main .container__pr{
    grid-area: pr;

}
main .container__pri {
    grid-area: pri;

}

/* container equipe */
main .container__eq{
    grid-area: eq;

}
main .container__eqi{
    grid-area: eqi;
    border-bottom-right-radius: 90px;

}
/* container art */
main .container__art {
    grid-area: art;
}
main .container__arti {
    grid-area: arti;
}


/* Conteneurs contenus dans les sections */
/* Coneneurs contenant le texte */
main .container {
    display: flex;
    
    flex-direction: column;
    justify-content: space-around;
    padding: 10%;
    background-color: rgba(238, 238, 238, 0.678);
    line-height: 1.5rem;
    overflow: hidden;

}

main .container:hover{
    transition: all 1s;
    box-shadow: 2px 2px 15px black;
    background-color: white;

}


/* Conteneur contenant l'image */   
main .container__image {
    height: 500px;
    overflow: hidden;
}

            

/* FOOTER */
footer {
    
    text-align: center;
    color: rgba(255, 255, 255, 0.726);
    background-color: rgba(0, 0, 0, 0.37);
    height: 40vh;

}